<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: commonhead('README')"></head>

<body>
  <nav th:replace="common/head :: commonnav"></nav>

  <main role="main" class="container-fluid">
    <div class="bg-light text-dark">
      <p id="mdContent"></p>
    </div>
  </main><!-- /.container -->

  <th:block th:replace="common/head :: commonjs"></th:block>
  <script src="/js/showdown.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $.get("/help/readme", function (result) {
        var converter = new showdown.Converter();
        converter.setOption('tables', true);
        var htmlcontent = converter.makeHtml(result);
        $("#mdContent").html(htmlcontent);
      });
      // $.ajax({
      //   type: "GET",
      //   url: "/help/readme",
      //   success: function (result) {
      //     var converter = new showdown.Converter();
      //     converter.setOption('tables', true);
      //     var htmlcontent = converter.makeHtml(result);
      //     $("#mdContent").html(htmlcontent);
      //   }
      // })
    })
  </script>
</body>

</html>