<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: commonhead('High Volume')"></head>

<body>
  <nav th:replace="common/head :: commonnav"></nav>

  <main role="main" class="container-fluid">
    <!-- Nav tabs -->
    <!-- Tab panes -->
    <ul class="nav nav-tabs bg-secondary" id="myTab" role="tablist" aria-orientation="vertical">
      <li class="nav-item" role="presentation">
        <a class="nav-link" th:classappend="${defaultActive == 'active'} ? 'active' : ''" id="default-tab" data-toggle="tab" href="#default" role="tab" aria-controls="default"
          aria-selected="true">Default</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" th:classappend="${customActive == 'active'} ? 'active' : ''" id="custom-tab" data-toggle="tab" href="#custom" role="tab" aria-controls="custom"
          aria-selected="false">Custom</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab" aria-controls="others" aria-selected="false">Others</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
      </li>
    </ul>
    <div class="tab-content" style="background-image:url('/image/image00.jfif');">
      <div class="tab-pane" th:classappend="${defaultActive == 'active'} ? 'active' : ''" id="default" role="tabpanel" aria-labelledby="default-tab">
        <br><br>
        <form class="was-validated" role="form" method="POST" th:action="@{/highvolume}">
          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="groupInputDefault">Default Q</label>
              </div>
              <input type="text" class="form-control is-valid" id="groupInputDefault" aria-describedby="groupInputDefault" value="DEV.QUEUE.1" disabled>
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="reset">&nbsp;Reset &nbsp; </button>
              </div>
            </div>
            <div class="input-group is-invalid">
              <div class="input-group-prepend">
                <label class="input-group-text" for="groupSelectDefault">Number &nbsp;</label>
              </div>
              <select class="custom-select" id="groupSelectDefault" name="reqNum" required>
                <option value="100" selected>One hundred</option>
                <option value="1000">One thousand</option>
                <option value="10000">Ten thousand</option>
                <option value="1000000">One million</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit">Submit</button>
              </div>
            </div>
            <div class="invalid-feedback">
              <H5 th:text="${message1}"></H5>
            </div>
          </div>
        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="tab-pane" th:classappend="${customActive == 'active'} ? 'active' : ''" id="custom" role="tabpanel" aria-labelledby="custom-tab">
        <br><br>
        <form class="was-validated" role="form" method="POST" th:action="@{/highvolume}">
          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="groupSelectCustom">Default Q</label>
              </div>
              <select class="custom-select" id="groupSelectCustom" name="reqQueue" required>
                <option value="DEV.QUEUE.1">DEV.QUEUE.1</option>
                <option value="DEV.QUEUE.2" selected>DEV.QUEUE.2</option>
                <option value="DEV.QUEUE.3">DEV.QUEUE.3</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="reset">&nbsp;Reset &nbsp; </button>
              </div>
            </div>
            <div class="input-group is-invalid">
              <div class="input-group-prepend">
                <span class="input-group-text" for="groupInputCustom">Number &nbsp;</span>
              </div>
              <input type="number" min="1" step="1" class="form-control is-invalid" id="groupInputCustom" aria-describedby="groupInputCustom" value="100" name="reqNum" required>
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit">Submit</button>
              </div>
            </div>
            <div class="invalid-feedback">
              <H5 th:text="${message2}"></H5>
            </div>
          </div>
        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="tab-pane" id="others" role="tabpanel" aria-labelledby="others-tab">
        <br><br>
        To be continue...
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
      <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <br><br>
        To be continue...
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </main><!-- /.container -->

  <th:block th:replace="common/head :: commonjs"></th:block>
</body>

</html>