<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: commonhead('Monitor')"></head>

<body>
	<nav th:replace="common/head :: commonnav"></nav>

	<main role="main" class="container-fluid">
		<div class="card-deck">
			<div class="card border-secondary">
					<form id="formAll" class="" role="form" method="POST" th:action="@{/monitor/all}">
						<button id="refreshAllButton" class="btn btn-dark btn-lg btn-block" type="submit">Refresh All  <i class="fas fa-sync"></i></button>
					</form>
			</div>
		</div>
		<br>
		<div class="card-deck">
			<div class="card border-secondary">
				<img src="/image/image10.jfif" class="card-img-top" alt="...">
				<div class="card-body text-secondary">
					<h5 class="card-title">DEV.QUEUE.1</h5>
					CurrentDepth: <span class="card-text" th:text="${q1CurDepth}"></span>
				</div>
				<div class="card-footer">
					<form id="form1" class="" role="form" method="POST" th:action="@{/monitor/DEV.QUEUE.1}">
						<div class="input-group mb-3">
							<small class="form-control text-muted" type="text">Last updated 1 mins ago</small>
							<button id="refreshButton1" type="submit"><i class="fas fa-sync"></i></button>
						</div>
					</form>
				</div>
			</div>
			<div class="card border-secondary">
				<img src="/image/image30.jfif" class="card-img-top" alt="...">
				<div class="card-body text-secondary">
					<h5 class="card-title">DEV.QUEUE.2</h5>
					CurrentDepth: <span class="card-text" th:text="${q2CurDepth}"></span>
				</div>
				<div class="card-footer">
					<form id="form2" class="" role="form" method="POST" th:action="@{/monitor/DEV.QUEUE.2}">
						<div class="input-group mb-3">
							<small class="form-control text-muted" type="text">Last updated 1 mins ago</small>
							<button id="refreshButton2" type="submit"><i class="fas fa-sync"></i></button>
						</div>
					</form>
				</div>
			</div>
			<div class="card border-secondary">
				<img src="/image/image20.jfif" class="card-img-top" alt="...">
				<div class="card-body text-secondary">
					<h5 class="card-title">DEV.QUEUE.3</h5>
					CurrentDepth: <span class="card-text" th:text="${q3CurDepth}"></span>
				</div>
				<div class="card-footer">
					<form id="form3" class="" role="form" method="POST" th:action="@{/monitor/DEV.QUEUE.3}">
						<div class="input-group mb-3">
							<small class="form-control text-muted" type="text">Last updated 1 mins ago</small>
							<button id="refreshButton3" type="submit"><i class="fas fa-sync"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<span id="monitorToken" th:text="${monitorToken}" hidden></span>
	</main><!-- /.container -->

	<th:block th:replace="common/head :: commonjs"></th:block>
	<script type="text/javascript">
    $(document).ready(function () {
			if ($("#monitorToken").text() == "") {
				$("#refreshAllButton").click();
			}
    })
  </script>
</body>

</html>