<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: commonhead('Upload File')"></head>

<body>
  <nav th:replace="common/head :: commonnav"></nav>

  <main role="main" class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card text-white bg-secondary">
          <img src="/image10.jfif" class="card-img-top" alt="Send default msg to MQ...">
          <div class="card-body">
            <h5 class="card-title">Send default msg to MQ</h5>
            <form class="was-validated" role="form" method="POST" action="/mqupload/file" enctype="multipart/form-data">
              <div class="input-group is-invalid">
                <div class="custom-file">
                  <input type="text" class="custom-file-input" id="inputGroupCustomFile1" disabled>
                  <label class="custom-file-label" for="inputGroupCustomFile1">Use default msg</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="submit">Submit</button>
                </div>
              </div>
              <div class="invalid-feedback">
                <div th:text="${message1}"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card text-white bg-secondary">
          <img src="/image20.jfif" class="card-img-top" alt="Send upload file to MQ...">
          <div class="card-body">
            <h5 class="card-title">Send uploaded file to MQ</h5>
            <form class="was-validated" role="form" method="POST" action="/mqupload/file" enctype="multipart/form-data">
              <div class="input-group is-invalid">
                <div class="custom-file">
                  <input type="file" name="file" class="custom-file-input" id="inputGroupCustomFile2" required>
                  <label class="custom-file-label" for="inputGroupCustomFile2">Choose file...</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="submit">Submit</button>
                </div>
              </div>
              <div class="invalid-feedback">
                <div th:text="${message2}"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main><!-- /.container -->

  <th:block th:replace="common/head :: commonjs"></th:block>
</body>

</html>